<template>
<div>
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb" >
    <li class="breadcrumb-item" v-for="(cr,idx) in crumbs" :key="idx"
    :class="{active:cr.link==null}"
    ><a :href="cr.link" v-if="cr.link">{{cr.text}}</a>
    <span v-else>{{cr.text}}</span>
    </li>
    </ol>
    </nav>
</div>
</template>
<script>
//import catutil from "../modules/categories";
//var catutil = require("../modules/categories.js");
import {getCategories} from "../modules/categoriesxt";

export default {

    computed:
    {
        crumbs()
        {
            let pglink={link:null,text:this.$page.title};
            
            const crumbs = getCategories(this.$page.regularPath);

            crumbs.push(pglink);
            console.log(" crumbs ", crumbs);
            return crumbs;
        }
    }

}
</script>